body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    color: #444;
    background-color: #ccc;
    margin-bottom:  56px;
}
h1 {
    background-color: #acafd4;
    color: #061761;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
}
h2 {
    color: #061761;
    background-color: #b6b6b6;
    border-bottom: 3px solid;
    padding: 10px;
    margin-top: 48px;
    margin-bottom: 12px;
}
ul {
    padding-left: 0px;
}
li {
    list-style-position: inside;

}
.center {
    text-align: center;

}
a{
    text-decoration: none;
}
a:hover{
   text-decoration: underline;
}
.menu{
    
    text-align: right;
    text-align: center;


}
.menu li{
    list-style: none;
    
    
    display: inline-block;
    padding: 0px;

}
.menu a{
    background-color: #c4b2b2;
    padding: 16px;
    display: inline-block;
}
.menu a:hover{
    background-color: #333;
    color: white;
    text-decoration: none;
}
.subtitle{
    background-color: #bbbdd1;
    margin-top: 0px;
}